{% extends "cases/base.html" %}
{% load django_import_data_tags %}

{% block content %}

<h1>{{ genericaudit }}</h1>

{% if genericaudit.audit_group.importee %}
<p><a href={{ genericaudit.audit_group.importee.get_absolute_url}}>View created {{ genericaudit.audit_group.importee_class }} {{ genericaudit.audit_group.importee }}</a></p>
{% else %}
<p><a href={{ genericaudit.get_create_from_audit_url }}>Create {{ genericaudit.audit_group.importee_class }} from Audit {{ genericaudit.id }}</a></p>
{% endif %}

<h2>Original Values</h2>
{{ genericaudit.auditee_fields | json | safe }}

<h2>Errors</h2>
{{ genericaudit.errors | json | safe }}
{% endblock %}
