{% extends "cases/base.html" %}
{% load django_import_data_tags %}

{% block content %}

<h1>GBI {{ genericbatchimport }}</h1>

<p><a href=file://{{ object.imported_from }}>Open original file: {{object.name}}</a></p>

<h2>File-Level Import Errors</h2>
{% if genericbatchimport.errors %}
{{ genericbatchimport.errors | json | safe }}
{% else %}
<p>None</p>
{% endif %}

<h2>Audit Groups</h2>
<ul>
    {% for ag in genericbatchimport.audit_groups.all %}
    <li>
        <a href={{ag.get_absolute_url}}>{{ ag }}</a>
        {% if ag.auditee %}
        : <a href={{ ag.auditee.get_absolute_url }}>{{ ag.auditee }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>



{% endblock %}
