{% extends "cases/base.html" %}
{% load django_import_data_tags %}

{% block content %}

<h1>Row Data</h1>
<p>
    Row {{ rowdata.row_num }} from <a href="file://{{ rowdata.file_import_attempt.imported_from }}">{{ rowdata.file_import_attempt.name }}</a>
</p>


{{ rowdata.data | json | safe }}

{% include "list_base.html" with object_list=rowdata.model_import_attempts.all %}

<h2>Row-Level Errors</h2>
{% if rowdata.errors %}
{{ rowdata.errors | json | safe }}
{% else %}
<p>No Errors</p>
{% endif %}


{% endblock %}
