{% load django_import_data_tags %}

<nav class="navbar-expand-lg d-print-none" aria-label="breadcrumb">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ol class="breadcrumb">
        <li
            {% if current == "file_importer_batch" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if file_importer_batch and current != "file_importer_batch" %}
            <a
                href="{% url 'fileimporterbatch_detail' file_importer_batch.id %}"
                title="The batch of files that a file import attempt was imported within. This will summarize any all file-level errors in a given import batch."
            >
                File Importer Batch
            </a>
        {% else %}
            File Importer Batch
        {% endif %}
        </li>

        <li
            {% if current == "file_importer" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if file_importer  and current != "file_importer" %}
            <a
                href="{% url 'fileimporter_detail' file_importer.id %}"
                title="History of every time an attempt has been made to import the file from which a model was created."
            >
                File Importer
            </a>
        {% else %}
            File Importer
        {% endif %}
        </li>

        <li
            {% if current == "file_import_attempt" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if file_import_attempt and current != "file_import_attempt" %}
            <a
                href="{% url 'fileimportattempt_detail' file_import_attempt.id %}"
                title="The report of the file import attempt that ultimately created this. This will show you all errors in the file that a model was created from."
            >
                File Import Attempt
            </a>
        {% else %}
            File Import Attempt
        {% endif %}
        </li>

        <li
            {% if current == "row_data" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
            {% if row_data %}
            title="The original row from which this was created. Use this to determine if there are discrepancies between the data in a model and the data in its original source."
            {% endif %}
        >
        {% if row_data and current != "row_data" %}
            <a
                href="{% url 'rowdata_detail' row_data.id %}"
            >
                Row Import Attempt
            </a>
        {% else %}
            Row Import Attempt
        {% endif %}
        </li>

        <li
            {% if current == "model_importer" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if model_importer and current != "model_importer" %}
            <a
                href={% url "modelimporter_detail" model_importer.id %}
                {% if importee %}
                title="The model importer that created this {{ object|model_name|default:'Model' }}"
                {% else %}
                title="The model importer that attempted to created a {{ object|model_name|default:'Model' }}"
                {% endif %}
            >
                {{ importee_class|model_name }} Importer
            </a>
        {% else %}
            {{ importee_class|model_name|default:"Model" }} Importer
        </li>
        {% endif %}

        <li
            {% if current == "model_import_attempt" %}
            class="breadcrumb-item active"
            aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if model_import_attempt and current != "model_import_attempt" %}
            <a
                href={% url "modelimportattempt_detail" model_import_attempt.id %}
                {% if importee %}
                title="The model import attempt that created this {{ object|model_name|default:'Model' }}"
                {% else %}
                title="The model import attempt that attempted to created a {{ object|model_name|default:'Model' }}"
                {% endif %}
            >
                {{ importee_class|model_name }} Import Attempt
            </a>
        {% else %}
            {{ importee_class|model_name|default:"Model" }} Import Attempt
        </li>
        {% endif %}

        <li
            {% if current == "importee" %}
            class="breadcrumb-item active" aria-current="page"
            {% else %}
            class="breadcrumb-item"
            {% endif %}
        >
        {% if importee and current != "importee" %}
            <a
                href="{{ importee.get_absolute_url }}"
                title="The model, as created by this model import attempt"
            >
                {{ importee|model_name|default:'Model' }}
            </a>
        {% else %}
            {{ importee_class|model_name|default:"Model" }}
        {% endif %}
        </li>
      </ol>
    </div>
</nav>

{% if current == 'importee' and not importee.file_import_attempt_was_successful %}
<div class="batch-rejected">
    <p>Warning: May contain incomplete information! The <a href="{{ importee.model_import_attempt.model_importer.row_data.file_import_attempt.file_importer.get_absolute_url }}">File Importer</a> this {{ importee|model_name }} is from failed to import properly! You will need to fix this, then re-import the file.</p>
</div>
{% endif %}
